// common
$backgroundColor: rgb(203, 208, 226);
$labelColor: white;
// header 
$headerBkColor: white;
// title
$titleSuggestionsBkColor: rgb(28, 33, 55);
$informationColor: #828daf;
$seeMoreButtonColor: rgb(239, 112, 75);
// person $information
$personNameColor: #1b2139;
$personTitleColor: #828daf; // timeline
$educationExperienceBkColor: rgb(241, 243, 249);
$previousStudyLabelColor: rgb(148, 157, 187);
// Footer
$footerBkColor: rgb(25, 30, 50);
// study
$studyDateColor: #828daf;
$futureStudyBkColor: rgb(204, 209, 228)